.navWrapper {
    display: flex;
    background-color: #fffff1;
    height: 128px;
    padding: 0 40px;
    justify-content: space-between;
    align-items: center;
}

.navItemsWrapper {
    display: flex;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    line-height: 1.3;
    font-size: 20px;
    letter-spacing: 0;
    color: #424436;
    justify-content: space-between;
    margin-left: 20px;
}

.navItemsWrapper > li > :visited {
    color: #424436;
}

.navItemsWrapper > li > a.active {
    color: #92A134
}

.iconsWrapper {
  display: flex;
  align-items: center;
  gap: 15px; /* Задает расстояние между иконками */
}

.favoriteIconWrapper {
  position: relative; /* Чтобы позиционировать бейдж */
  display: inline-block;
  cursor: pointer;
}

.favoriteCount {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  left: -5px; 
  background-color: #92a134;
  color: white;
  border-radius: 50%;
  padding: 4px 6px;
  font-size: 12px;
  min-width: 30px; /* Увеличиваем минимальную ширину для большей ширины кружка */
  text-align: center;
  line-height: 1;
  border: 1px solid white; /* Белая обводка для лучшей видимости */
}



.navItemsWrapper>li:not(:last-child) {
    margin-right: 32px;
}

.logo,
.cart,
.navItemsWrapper>li {
    cursor: pointer;
}

.burgerMenu {
    display: none;
}

@media screen and (max-width: 1000px) {
    .navWrapper {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 768px) {
    .navWrapper {
        height: 110px;
    }

    .navItemsWrapper {
        display: none;
    }

    .burgerMenu {
        display: block;
        margin-left: 20px;
        cursor: pointer;
    }

    .logo {
        margin-right: auto;
    }

}


