.wrapper {  
    gap: 40px;  
}


.header {
    display: flex;
    align-items: center;
    gap: 24px;
}
.pageTitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 110%;
    color: #424436;
}
.stateMessage { /* оставим, чтобы не дублировать */
    font-size: 16px;
    color: #6f7a7e;
}