.discountBannerWrapper {
    
  background-image: url('../../Images/discount-banner.png'),
    linear-gradient(rgba(135, 147, 61, 1),rgba(85, 97, 11, 1));
    
  background-size: 50%, cover;
  background-position: left-bottom;
  background-repeat: no-repeat;

  width: 100%;
  color: white;
   padding: 32px; 
}


.discountHeader {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: clamp(90px, 93px, 90px);
  font-weight: bold;
  line-height: 1.1;
  position: relative;
  margin-bottom: 24px;
  }
.formWrapper{
  display: flex;
justify-content: flex-end;  
}
@media screen and (max-width: 1000px) {
  .DiscountHeader {
    font-size: clamp(60px, 8vw, 90px);
  }
}

@media screen and (max-width: 1360px) {
  .DiscountBannerWrapper {
  }
}

@media screen and (max-width: 960px) {
  .DiscountBannerWrapper {

  }
}
@media screen and (max-width: 728px) {
  .DiscountBannerWrapper {

  }
}
@media screen and (max-width: 440px) {
  .DiscountBannerWrapper {

  }
}
@media screen and (max-width: 320px) {
  .DiscountBannerWrapper {

  }
}



@media screen and (max-width: 320px) {
 
 .DiscountHeader {
  font-size: clamp(8vw, 50px, 60px);
}
}