.wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding-bottom: 64px;
}

.header {
    display: flex;
    align-items: center;
    gap: 24px;
}

.pageTitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 110%;
    color: #424436;
}

.cardsGrid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(4, 316px);
    justify-content: flex-start;
}

.stateMessage {
    font-size: 16px;
    color: #6f7a7e;
}

@media (max-width: 1200px) {
    .wrapper {
        max-width: 960px;
        padding: 0 20px 48px;
        gap: 32px;
    }

    .cardsGrid {
        gap: 20px;
        grid-template-columns: repeat(4, 225px);
        justify-content: flex-start;
    }
}

@media (max-width: 768px) {
    .wrapper {
        max-width: 728px;
        padding: 0 20px 48px;
        gap: 32px;
    }

    .pageTitle {
        font-size: 56px;
    }

    .cardsGrid {
        gap: 20px;
        grid-template-columns: repeat(2, 354px);
        justify-content: flex-start;
    }
}

@media (max-width: 480px) {
    .wrapper {
        max-width: 440px;
        padding: 0 20px 48px;
        gap: 24px;
    }

    .pageTitle {
        font-size: 48px;
    }

    .cardsGrid {
        gap: 20px;
        grid-template-columns: repeat(2, 210px);
        justify-content: flex-start;
    }
}
