.error {
  color: var(--color-text-inverted);
  display: flex;
  align-items: center;    /* NEW: выровняли по вертикали */
  gap: 8px;
  font-family: Montserrat, sans-serif;
  width: fit-content;
}

.error img {
  width: 20px;
  height: 20px;
  filter: var(--color-icon-filter-primary);
  transition: filter 0.3s ease;
}

.errorMessage {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-top: 2px; /* чуть смещаем, чтобы текст визуально центрировался */
}
