.h2_Link_Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.line {
  height: 2px;
  flex: 1;
 
  min-width: 20px;
  background-color: #DDDD;
  margin-left: 32px;

  position: relative;
  top: -8px;
}

.btnLink {
  padding: 6px 16px;
  border-radius: 8px;
  border: 2px solid #DDDD;

  position: relative;
  top: -8px;
  color: #8B8B8B;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  transition: background .15s, color .15s, border-color .15s, ;
}

.btnLink:hover{
  background-color: #F2F6D3;
  border: 2px solid #F2F6D3;
  color: #424436;
}

.btnLink:focus-visible{
  outline: none;
  box-shadow: 0 0 0 3px rgba(88, 28, 135, 0.15);
}

@media (min-width: 1600px) {
  .btnLink {
    font-size: 24px;
    padding: 10px 24px;
  }
  }